{
  "presets": [
    [
      "babel-preset-gatsby",
      {
        "targets": {
          "browsers": [">0.25%", "not dead"]
        }
      }
    ],
  ],
  "plugins": [
    ["prismjs", {
      "languages": [],
      "plugins": ["line-numbers", "toolbar", "copy-to-clipboard"],
      "theme": "default",
      // "theme": "tomorrow",
      "css": true
    }]
  ]
}