@value vars: "../../variables.module.css";
@value primary300, surface100, surface300, surface500, surfacemixed100, containerWidth from vars;

.breakout {
  border-top: 1px solid surface100;
  border-bottom: 1px solid surface100;
  background-color: surface500;
}

.skills {
  composes: container from global;
  padding: 1em 2em;
}

.skills > ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 10px 20px;
  width: 100%;
  max-width: containerWidth;
  overflow-x: auto;
  list-style: none;
}

.skills > ul > li {
  display: flex;
  flex: 1 1 calc(100% / 7);
  flex-direction: row;
  justify-content: center;
  padding: 10px 20px;
}

.skill {
  border-radius: 3px;
  background-color: surfacemixed100;
  padding: 5px;
  color: primary300;
}

.detail {
  border: 1px solid surface300;
  border-radius: 3px;
  padding: 0.5em;
}
