@value vars: "../variables.module.css";
@value primary100, primary600, surface100, surface300, surface400, surface500, surfacemixed100, surfacemixed200, surfacemixed300, surfacemixed400, surfacemixed500, surfacemixed600, containerwidth from vars;

.breakout {
  border-top: 1px solid surface100;
  border-bottom: 1px solid surface100;
  background-color: surface500;
}

.acclaim {
  composes: container from global;
  padding: 1em 2em;
}

.acclaim > ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 10px 20px;
  width: 100%;
  max-width: containerwidth;
  overflow-x: auto;
  list-style: none;
}

.acclaim > ul > li {
  display: flex;
  flex: 1 1 calc(100% / 3);
  flex-direction: row;
  justify-content: center;
  padding: 10px 20px;
}

.acclaim > ul > li > button {
  border-radius: 3px;
  background-color: surfacemixed100;
  padding: 5px;
  width: 150px;
  height: 150px;
}

.detail {
  border: 1px solid surface300;
  padding: 0.5em;
}
