@value vars: "../variables.module.css";
@value primary100, primary600, surface300, surface400, surface500, surfacemixed100, surfacemixed200, surfacemixed300, surfacemixed400, surfacemixed500, surfacemixed600 from vars;

.publications {
  composes: block from global;
  background-color: surface500;
}

.small {
  font-size: x-small;
}
